.app{
    height: 100vh;
    //border: 10px solid green;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: white;
        //position: fixed;
        top: 80px;
        //display: inline-block;
        //overflow-x: hidden; // fondamentale siummmm
        //scroll-behavior: smooth;
        //scroll-snap-type: y mandatory;
        //scrollbar-width: none;  // for firefox
        /* &::-webkit-scrollbar{
            display: none;
        }

        > * {
            width: 100%;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        } */
    }
}

.login {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}